@import 'leaflet/dist/leaflet.css';

.q-field__label {
  font-size: 17px !important;
}
.q-field__native {
  font-size: 17px !important;
}

.q-page {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.body--dark {
  background-color: #333 !important;

  .q-page {
    background-color: #333 !important;
  }

  .q-field__label {
    color: white !important;
  }

  .q-field__native {
    color: white !important;
  }

  .q-field__label:hover {
    color: #ccc !important;
  }

  .q-field__native:hover {
    color: #ccc !important;
  }
  .bg-one {
    background-color: #333 !important;
  }
  .text-one {
    color: #cfcfcf !important;
  }

  .leaflet-bar a {
    background-color: #333;
    border-bottom: 1px solid #333;
    color: white;
  }
}

.leaflet-popup-close-button {
  top: 5px;
  right: 5px;

  span {
    font-size: 30px;
    border-radius: 50%;
  }
}
